{% extends 'template/base.twig' %}
{% block head %}
    {{ parent() }}
    <style>
        body{
            margin-top: 70px;
        }
    </style>
{% endblock %}
{% block menu %}
    {% include 'template/navbar.twig' %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="jumbotron text-center">
                    <h1><i class="fa fa-asterisk fa-lg text-success" aria-hidden="true"></i> Asterisco</h1>
                    <p>Microframework Asterisco</p>
                    <p><small class="text-muted">Sistema desenvolvido pela <a href="//www.asterisco.xyz" target="_blank">Asterisco Soluções</a> em TI para projetos de pequeno porte.</small></p>
                </div>
                {{ pagination|raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}